<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ site.title }}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">

<!-- JQuery -->
<script src="{{ '/assets/js/jquery-3.5.1.min.js' | relative_url }}"></script>

<!-- Common JS -->
<script src="{{ '/assets/js/common.js' | relative_url }}"></script>

<!-- Syntax Highlighting -->
<link rel="stylesheet" href="{{ '/assets/css/' | append: site.highlight_theme | append: '.css' | relative_url }}" />
 
{% if site.enable_katex %}
<!-- Load KaTeX -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex.version }}/katex.min.css" integrity="{{ site.katex.integrity.css }}" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/{{ site.katex.version }}/katex.min.js" integrity="{{ site.katex.integrity.js }}" crossorigin="anonymous"></script>
<script src="{{ '/assets/js/katex.js' | relative_url }}"></script>
{% endif %}

<!-- Bootstrap & MDB -->
<link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet" integrity="{{ site.bootstrap.integrity.css }}" crossorigin="anonymous">
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<!-- Fonts & Icons -->
<link rel="stylesheet" href="{{ '/assets/css/fontawesome/css/all.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/academicons/css/academicons.css' | relative_url }}">

<!-- Styles -->
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico'  | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | relative_url }}">

<!-- Open Graph -->
{% if site.serve_og_meta %}
<meta property="og:site_name" content="{{ site.description }}" />
<meta property="og:type" content="object" />
<meta property="og:title" content="{{ site.name }}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:description" content="{{ page.title }}" />
<meta property="og:image" content="{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}" />
{% endif %}
