{% if paginator.total_pages != 1 %}
<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.baseurl }}/blog/">{{ site.pagination.newer }}</a>
      {% else %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">{{ site.pagination.newer }}</a>
      {% endif %}
    {% else %}
      <span class="disabled">{{ site.pagination.newer }}</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">{{ site.pagination.older }}</a>
    {% else %}
      <span class="disabled">{{ site.pagination.older }}</span>
    {% endif %}
  </div>
  <div class="pagination-meta">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
</div>
{% endif %}
