---
const { title, subtitle } = Astro.props;
---

<div class="timeline-entry">
  <div class="timeline-marker">
    <span class="timeline-dot"></span>
    <span class="timeline-line"></span>
  </div>
  <div class="timeline-content">
    <h3 class="timeline-title">{title}</h3>
    <span class="timeline-subtitle" set:html={subtitle} />
    <div class="timeline-body">
      <slot />
    </div>
  </div>
</div>

<style>
  .timeline-entry {
    display: flex;
  }

  .timeline-marker {
    position: relative;
    flex-shrink: 0;
    width: 1rem;
  }

  .timeline-dot {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #bb342f;
    border-radius: 50%;
    margin-top: 0.12rem;
    position: relative;
    z-index: 1;
  }

  .timeline-line {
    position: absolute;
    top: 0.7rem;
    bottom: -0.7rem;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background-color: #bb342f;
  }

  .timeline-entry:last-child .timeline-line {
    display: none;
  }

  .timeline-content {
    padding-left: 1.25rem;
    padding-bottom: 1.5rem;
  }

  .timeline-title {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

  .timeline-subtitle {
    display: block;
    font-size: 0.9rem;
    color: #555;
  }

  .timeline-body {
    margin-top: 0.5rem;
    text-align: justify;
  }

  .timeline-body ul {
    padding-left: 1.25rem;
    list-style-type: square;
    margin-bottom: 0;
  }

  .timeline-body ul li {
    margin-bottom: 0.25rem;
  }

  .timeline-body p {
    margin-bottom: 0;
  }
</style>
